<%- contentFor('title') %> Sign In <%- contentFor('body') %>
<h1>Log In</h1>
<% if (messages.error) { %>
	<%= messages.error %>
<% } %>

<form action="/signIn" method="POST">
	<div class="signIn username">
		<label for="userName">Username or Email</label>
		<input type="text" id="userName" name="userName" required />
	</div>
	<div class="signIn password">
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required />
	</div>
	<button class="signIn" type="submit">Sign In</button>
</form>
<p>Not a member yet? <a href="/signUp">Sign up!</a></p>
