<%- contentFor('title') %> Add Runnable 
<%- contentFor('links') %> 
<link rel="stylesheet" href="/css/programs.css" type="text/css" />
<%- contentFor('body') %>
<h1>Add Runnable</h1>
<form action = "/runnables" method="POST" enctype="multipart/form-data">
	<%- include("runnableFormFields", {editing: false}) %>
    <a href="/runnables">Cancel</a>
	<button class="runnables submit" type="submit">Add Runnable</button>
</form>

<script type="text/javascript" src="/javascript/runnable.js"></script>