<div class="runnables title">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" value="<%= runnable.title %>" required />
</div>
<div class="runnables description">
    <label for="description">Description</label>
    <textarea id="description" name="description" rows="5" cols="50" required><%= runnable.description %></textarea>
</div>
<% if (!editing) { %> 
    <div class="runnables cover">
        <label for="cover">Cover Image</label>
        <input type="file" name="cover" onchange="previewFile()" required></input>
        <img src="/images/noImg.jpg" height="200" alt="Program thumbnail">
    </div>
    <div class="runnables links">
        <label for="links">Links</label>
        <input type="text" id="links" name="links" autocomplete="off" required />
    </div>
<% } %>
<div class="runnables schedule">
    <label for="schedule">Schedule (Cron syntax)</label>
    <input type="text" id="schedule" name="schedule" autocomplete="off" required />
</div>
<div class="runnables mainPath">
    <label for="mainPath">Main File</label>
    <input type="text" id="mainPath" name="mainPath" autocomplete="off" required />
</div>
<div class="runnables autoUpdate">
    <label for="autoUpdate">AutoUpdate on Run?</label>
    <input type="checkbox" id="autoUpdate" name="autoUpdate" <% if (runnable.autoUpdateOnRun) { %> checked <% } %>/>
</div>
<fieldset class="runnables runStyle">
    <legend class="runnables runStyle">Run Style</legend>
    <label for="manual">Manual</label>
    <input type="checkbox" id="manual" name="manual" <% if (runnable.runStyle.includes("manual")) { %> checked <% } %>/>
    <label for="runSchedule">Schedule</label>
    <input type="checkbox" id="runSchedule" name="runSchedule" <% if (runnable.runStyle.includes("schedule")) { %> checked <% } %> />
</fieldset>
<div class="runnables tags">
    <label for="tags">Tags</label>
    <div class="tagField">
        <input type="text" id="new-tag" name="new-tag" autocomplete="off" onkeyup="return addTag(event)"/>
        <input hidden type="text" id="tags" name="tags"/>
    </div>
</div>