<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/base.css" type="text/css" />
		<%- defineContent("links") %>
		<title><%- title %></title>
	</head>
	<body>
		<header>
			<div class="navigator">
				<nav>
					<a href="/">
						<h3>Austin's<br />RaspbianServer</h3>
					</a>
					<ul>
						<li><a href="/programs">Programs</a></li>
						<li><a href="/runnables">Runnables</a></li>
					</ul>
				</nav>
			</div>
            <div {width: 10%}>
                <a href="/account" id="accountTitle">
                    <% if (user !== undefined) { %> <%= user.username %> <% } else { %> Sign
                    In <% } %>
                </a>
            </div>
		</header>
		<mainBody> <%- body %> </mainBody>
	</body>
</html>



