

div.entry {
    border: 3px solid #CE5937;
    width: 100%;
}

.entry > h3 {
    color:white;
}

.tagField {
    width: 50em;
    background-color: white;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;

    input {
        background:none;
        border: none;
        outline: none;
        margin: 0px 0px;
    }

    span {
        background-color: rgba(0,0,255,0.5);
        width: fit-content;
        border-radius: 3px;
        padding: 0px 2px;
        margin: 0px 2px;
    }

}