<%- contentFor('title') %> Register <%- contentFor('body') %>

<h1>Sign up here!</h1>
<form action="/signUp" method="POST">
	<div class="register username">
		<label for="userName">Username</label>
		<input type="text" id="userName" name="userName" required />
	</div>
	<div class="register email">
		<label for="email">Email</label>
		<input type="email" id="email" name="email" required />
	</div>
	<div class="register password">
		<label for="password">Password</label>
		<input type="password" id="password" name="password" required />
	</div>
	<button class="register submit" type="submit">Register</button>
</form>
<p>Already a member? <a href="/signIn">Sign in!</a></p>
